body {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; /* 让内容充满整个视口高度 */
}

#game-area {
    width: calc(100vw - 30px); /* 从视口宽度中减去30px以获得一些边距 */
    max-width: 600px; /* 限制最大宽度 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    width: 100%; /* 宽度设置为100%以填充父容器 */
}

.grid-cell {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1; /* 保持方格为正方形 */
    padding: 10px; /* 增加内边距以使方格内容更加明显 */
    font-size: calc(5vw); /* 字体大小根据视口宽度调整 */
}

.grid-cell.fade-out {
    animation: fadeOut 0.2s ease-out forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#timer {
    font-size: 2em;
    margin-bottom: 10px;
}

.input-area, .difficulty-selection {
    margin-bottom: 10px;
}

#records-area {
    width: 100%; /* 定义宽度以使内部元素可以居中 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 使内部元素垂直居中 */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 文字居中显示 */
}

input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 768px) {
    #grid {
        width: calc(100vw - 30px); /* 在移动端视口宽度减去30px */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}
